Bot/__pycache__
flask/__pycache__
.vscode
.venv
Bot/API_keys.py
flask/audio.wav
Bot/graph.png
Bot/Knowledge
flask/recorded_audio.mp3

Bot/vector_database
Bot/DATABASE.db
flask/history.json
flask/audio
Bot/retrieval-text/porcupine
Bot/retrieval-text/sphinx_models
note.txt
Bot/methods_backup.py
Bot/methods_separate_backup.py
Bot/retrieval-text/WakeWordDetection
Bot/retrieval-text/audio/wake_detect_16000_removenoises.wav
Bot/retrieval-text/audio/wake_detect_16000.wav
Bot/retrieval-text/audio/speak.mp3
Bot/retrieval-text/audio/prompt.wav
