.camera-container {
    /* position: fixed; */
    /* width: 80%;
    height: 40%; */
    position: absolute;
    bottom: 5px;
    width: 50%;
    height: 35%;
    /* margin: 10px; */
    border-color: green;
    border-radius: 10px;
    background-color: white;
    /* background-clip: border-box; */
    display:none
}

.camera-container img{
    width: 100%; 
    height: 100%; 
    object-fit: cover;
} 

/* .camera-frame {
    position: absolute;
    align-self: center;
    border-color: green;
    border-radius: 10px;
    width: auto;
    height: auto;
    object-fit: cover;
    z-index: 100px;
} */

.test-button {
    position:relative;
    top: 55%;
    left: 12%;
}