/* body,html{
	height: 100%;
	margin: 0;
	background: rgb(44, 47, 59);
   background: -webkit-linear-gradient(to right, rgb(40, 59, 34), rgb(54, 60, 70), rgb(32, 32, 43));
	background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
} */
.container-fluid {
    width: 100%;
	height: 100%;
    position: absolute;
    left: 0;

}
.chat{
	position: absolute;
	background-color: #2c2e2e;
    /* left: 0; */
	/* margin-top: 10px;
	margin-left: 10px; */
	width: 100%;
	height: 100%;
	display:flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	/* margin-bottom: 10px ; */
	border-radius: 15px !important;
	overflow: hidden;
	/* z-index:2; */
	/* background-color: rgba(0,0,0,0.4) !important; */
}

.chat::before{
	content: '';
	position: absolute;
	width: 200px;
	height: 150%;
	background: linear-gradient(to right, #ffffff, #ff0000);
	animation: rotate 4s linear infinite;
}

.chat::after{
	content: '';
	position: absolute;
	background-color:  #080808;
	inset: 10px;
	border-radius: 15px !important;
}

@keyframes rotate {
	from{
		transform: rotate(0deg)
	}
	to{
		transform: rotate(360deg)
	}
}

.card{
	position: absolute;
	width: 96%;
	height: 97%;
	margin-top: 2%;
	margin-right: 2%;
	margin-left: 2%;

	border-radius: 15px !important;
	background-color: rgba(202, 195, 195, 0.4) !important;
	z-index: 2;
	/* opacity: 0.5; */
}
.contacts_body{
	padding:  0.75rem 0 !important;
	overflow-y: auto;
	white-space: nowrap;
}
.msg_card_body{
	overflow-y: auto;
	background-color: rgba(255, 255, 255, 0.716) !important;
}
.card-header{
	border-radius: 15px 15px 0 0 !important;
	border-bottom: 0 !important;
}
.card-footer{
	border-radius: 0 0 15px 15px !important;
	border-top: 0 !important;
	/* background-color:  rgba(96, 94, 94, 0.2); */
}
/* .container{
	align-content: center;
} */
.search{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
}
.search:focus{
	box-shadow:none !important;
    outline:0px !important;
}
.type_msg{
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color:white !important;
	height: 60px !important;
	/* font-size: 20px; */
	overflow-y: auto;
}
	.type_msg:focus{
	 box-shadow:none !important;
   outline:0px !important;
}
.attach_btn{
	border-radius: 15px 0 0 15px !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.send_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;

}
.mic_btn{
	border-radius: 0 0 0 0 ;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.search_btn{
	border-radius: 0 15px 15px 0 !important;
	background-color: rgba(0,0,0,0.3) !important;
	border:0 !important;
	color: white !important;
	cursor: pointer;
}
.contacts{
	list-style: none;
	padding: 0;
}
.contacts li{
	width: 100% !important;
	padding: 5px 10px;
	margin-bottom: 15px !important;
}
/* .active{
	background-color: rgba(0,0,0,0.3);
} */
.user_img{
	height: 70px;
	width: 70px;
	border:1.5px solid #f5f6fa;

}
.user_img_msg{
	height: 40px;
	width: 40px;
	border:1.5px solid #f5f6fa;

}
.img_cont{
	position: relative;
	height: 70px;
	width: 70px;
}
.img_cont_msg{
	height: 40px;
	width: 40px;
}
.online_icon{
	position: absolute;
	height: 15px;
	width:15px;
	background-color: #4cd137;
	border-radius: 50%;
	bottom: 0.2em;
	right: 0.4em;
	border:1.5px solid white;
}
.offline{
	background-color: #c23616 !important;
}
.user_info{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 15px;
}
.user_info span{
	font-size: 20px;
	color: white;
}
.user_info p{
	font-size: 10px;
	color: rgba(255,255,255,0.6);
}
.video_cam{
	margin-left: 50px;
	margin-top: 5px;
}
.video_cam span{
	color: white;
	font-size: 20px;
	cursor: pointer;
	margin-right: 20px;
}
.msg_cotainer{
	margin-top: auto;
	margin-bottom: auto;
	margin-left: 10px;
	border-radius: 25px;
	background-color: rgb(82, 172, 255);
	padding: 10px;
	position: relative;
	font-size: 20px;
}
.msg_cotainer_send{
	margin-top: auto;
	margin-bottom: auto;
	margin-right: 10px;
	border-radius: 25px;
	background-color: #58cc71;
	padding: 10px;
	position: relative;
	font-size: 20px;
}
.msg_time{
	position: absolute;
	left: 0;
	bottom: -15px;
	color: rgba(85, 83, 83, 0.5);
	font-size: 10px;
}
.msg_time_send{
	position: absolute;
	right:0;
	bottom: -15px;
	color: rgba(85, 83, 83, 0.5);
	font-size: 10px;
}
.msg_head{
	position: relative;
}
#action_menu_btn{
	position: absolute;
	right: 10px;
	top: 10px;
	color: white;
	cursor: pointer;
	font-size: 20px;
}
.action_menu{
	z-index: 1;
	position: absolute;
	padding: 15px 0;
	background-color: rgba(0,0,0,0.5);
	color: white;
	border-radius: 15px;
	top: 30px;
	right: 15px;
	display: none;
}
.action_menu ul{
	list-style: none;
	padding: 0;
	margin: 0;
}
.action_menu ul li{
	width: 100%;
	padding: 10px 15px;
	margin-bottom: 5px;
}
.action_menu ul li i{
	padding-right: 10px;
}
.action_menu ul li:hover{
	cursor: pointer;
	background-color: rgba(0,0,0,0.2);
}
@media(max-width: 576px){
	.contacts_card{
	margin-bottom: 15px !important;
}
}
.input-group {
    display: flex;
	background-color:  rgba(96, 94, 94, 0.2);
    align-items: center; /* Vertically center items */
}

.input-group .form-control {
	background-color:  rgba(96, 94, 94, 0.2);
    flex: 1; /* Take remaining space */
    border-top-right-radius: 0; /* Ensure border radius doesn't affect button */
    border-bottom-right-radius: 0; /* Ensure border radius doesn't affect button */
	
}
#text {
	border-radius: 15px 0px 0px 15px !important;
	margin-bottom: 0px ;
	height: 50px !important;
	font-family: 'Dancing Script', cursive;
    font-size: 20px; /* Set the font size */
    color: #333; /* Set the text color */
    text-align: left;
	padding-left: 15px;
}
#send{
	width: 50px !important;
	height: 50px !important;
	margin-left:1px;
}
.microphone{
	display: block;
    height: 50px;
    width: 50px;
	/* border: 5px; */
	margin-left:2px;
	/* border-color: #ffffff; */
    /* align-items: center; */
	background: rgba(0,0,0,0.3)
}
.input-group .input-group-text {
	/* background-color:  rgba(96, 94, 94, 0.2); */
    border-top-left-radius: 0; /* Ensure border radius doesn't affect input */
    border-bottom-left-radius: 0; /* Ensure border radius doesn't affect input */
}
::-webkit-scrollbar {
	width: 20px;
  }
  
  /* Track */
::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
	border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #cbc9f0; 
border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #cbc9f0; 
}
.lottie-container_face{
	width:50px;
	height:50px;
}
.lottie-container_face_avatar{
	width:100%;
	height:100%;
}


/* #audioPlayer{
	display:none;
} */