.form-container {
  z-index: 12;
  /* max-width: 1050px; */
  left: 0px;
  width: 60%;
  height: 100%;
  background: #fff;
  border-radius: 12px;
  margin-left: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  visibility : hidden; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form-container .content {
  padding: 25px 20px;
}


.content .image-box {
  max-width: 55%;
}
.content .image-box img {
  width: 80%;
}
.content .topic {
  font-size: 22px;
  font-weight: 500;
  left: 50%;
  color: #ba24c2;
}
.content form {
  width: 100%;
  height: 100%;
  /* margin-right: 30px; */
}
.content .input-box {
  height: 50px;
  width: 100%;
  margin: 16px 0;
  position: relative;
}
.content .input-box input {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 16px;
  outline: none;
  padding: 0 16px;
  background: #fae9fb;
  border: 2px solid transparent;
  /* transition: all 0.3s ease; */
}
.content .input-box input:focus,
.content .input-box input:valid {
  border-color: #ba24c2;
  background-color: #fff;
}
.content .input-box label {
  position: absolute;
  left: 18px;
  top: 50%;
  color: #636c72;
  font-size: 15px;
  pointer-events: none;
  transform: translateY(-50%);
  /* transition: all 0.3s ease; */
}
.content .input-box input:focus ~ label,
.content .input-box input:valid ~ label {
  top: 0;
  left: 12px;
  display: 14px;
  color: #ba24c2;
  background: #fff;
}
.content .message-box {
  min-height: 100px;
  position: relative;
}
.content .message-box textarea {
  position: absolute;
  height: 100%;
  width: 100%;
  resize: none;
  background: #fae9fb;
  border: 2px solid transparent;
  border-radius: 6px;
  outline: none;
  padding: 5px 16px;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus {
  border-color: #ba24c2;
  background-color: #fff;
}
.content .message-box label {
  position: absolute;
  font-size: 16px;
  color: #636c72;
  left: 18px;
  top: 6px;
  pointer-events: none;
  transition: all 0.3s ease;
}
.content .message-box textarea:focus ~ label {
  left: 12px;
  top: -10px;
  color: #ba24c2;
  font-size: 14px;
  background: #fff;
}
.content .input-box input[type="submit"] {
  color: #fff;
  background: #ba24c2;
  padding-left: 0;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  letter-spacing: 1px;
  /* transition: all 0.3s ease; */
}
.content .input-box input[type="submit"]:hover {
  background-color: #d43ddb;
}
@media (max-width: 1000px) {
  .content .image-box {
    max-width: 70%;
  }
  .content {
    padding: 10px 0;
  }
}
@media (max-width: 900px) {
  .content .image-box {
    display: none;
  }
  .content form {
    width: 100%;
    margin-left: 30px;
  }
}
.content{
  display: block;
  align-self: center;
  width: 100%;
  height: 60%;
}

.camera-container{
  /* position: absolute; */
    /* margin: auto; */
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  display: block;
  align-self: center;
  margin-bottom: 10px;
  /* width: auto; */ 
}
#return-book-container{
  width: 100%;
  height: 90%;
}

.form-book-item{
  visibility: visible;
  margin: 20px auto;
  width : 100%;
  height: 100%;
  background-color: #d43ddb;
}
.form-book-item img{
  width : 30%;
  height: 90%;
  left: 50px;
  top: 5%;
}
/* #return-book-container img {
  width: 100%; 
  height: 70%; 
  object-fit: cover;
} */
/* .details {
  position: absolute;
  height: 25%;
  width:100%;
  bottom: 0;
} */
.details {
  flex: 1; /* Allow details div to take remaining space */
}

.borrow-image-item{
  visibility: visible;
}