/* * {
    box-sizing: border-box;
}
input, textarea { 
    outline: none;
} */
/* body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background: #e6e6e6;
} */
/* h1 {
    margin-top: 0;
    font-weight: 500;
} */
#info_book_form {
    position: absolute;
    right: 5%;
    top:5%;
    width: 50%;
    height: 90%;
    border-radius: 30px;
    background: #fff;
}
.form-left-decoration,
.form-right-decoration {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 20px;
    background: #5a7233;
}
.form-left-decoration {
    bottom: 60px;
    left: -30px;
}
.form-right-decoration {
    top: 60px;
    right: -30px;
}
.form-left-decoration:before,
.form-left-decoration:after,
.form-right-decoration:before,
.form-right-decoration:after {
    content: "";
    position: absolute;
    width: 50px;
    height: 20px;
    border-radius: 30px;
    background: #fff;
}
.form-left-decoration:before {
    top: -20px;
}
.form-left-decoration:after {
    top: 20px;
    left: 10px;
}
.form-right-decoration:before {
    top: -20px;
    right: 0;
}
.form-right-decoration:after {
    top: 20px;
    right: 10px;
}
.circle {
    position: absolute;
    bottom: 80px;
    left: -55px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #fff;
}
.form-inner {
    padding: 40px;  
}
.form-inner input,
.form-inner textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 10px;
    background: #0c7dc2;
}
.form-inner textarea {
    resize: none;
}
/* #confirm_info {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border-radius: 20px;
    border: none;
    border-bottom: 4px solid #3e4f24;
    background: #5a7233; 
    font-size: 16px;
    font-weight: 400;
    color: #fff;
}
#confirm_info:hover {
    background: #3e4f24;
}  */


#confirm_info_row {
    text-align: center;
}

#confirm_info_row button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    /* transition: 0.3s ease; */
}
#confirm_info_row button:hover {
    cursor : pointer;
    background: #5ed762;
    box-shadow: 0 0 5px #5ed762,
                0 0 10px #5ed762,
                0 0 20px #5ed762;
} 
/* @media (min-width: 568px) {
form {
    width: 80%;
}
} */