body {
    
    /* background: #e9c41d; */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; /* This is the color for the rest of the page */
    width: 100%;
    height: 100%;
    /* z-index: -1; */
}
.body-container{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url('../resources/bg1.jpg') ; */
    background-repeat: no-repeat; 
    /* background-size: 100%; */
    background-color: #000000;
    width: 1366px;
    height: 768px;
    /* border: 2px; */
    position: fixed;
    top: 0;
    left: 0;
}

.LargeCotainer {
    position: absolute;
    width: 1364px;
    
    margin: 1px;
<<<<<<< HEAD
    margin-top: 0px;
=======
    margin-top: 2px;
>>>>>>> ecd668170e0254d237826ce3076e41e31090e152
    /* bottom: 0; */
    height: 694px;
    /* margin: 10px; */
    /* bottom: 0; */
    background-color: #2c2e2e;
    visibility: visible;
}
/* .NavigationContainer{
    position: fixed;
    width: 100vw;
    height: 5%;
    top: 0;
}
 */

.chat-frame-container {
    background-color: #eedee0;
    position: absolute;
    height: 99%;
    width: 38%;
    /* top: 30px; */

    right: 0px;
    bottom: -50%;
    /* transition: transform 1.5s ease; */
    visibility: hidden;
    border-radius: 15px !important;
	/* background-color: rgba(0,0,0,0.4) !important; */
}



.tools {
    display: flex;
    flex-direction: column;
    position: fixed;
    height: 100px;
    width: 300px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
}

.small-tools {
    display: flex;
    flex-direction: row;
    width: 0px;
}

/* .small-tools {
    display: flex;
    flex-direction: row;
    position: absolute;
    bottom: 0%;
} */

.tools-item {
    margin: 0px;
    /* margin-left: 50px; */
}

.voice-icon,
.refresh-icon,
.chat-icon {
    display: block;
    height: 100px;
    width: 100px;
    align-items: center;
}

.bar-icon {
    display: inline-block;
    width: 200px;
    margin-left: 50px;
}

.fadein {
    opacity: 1;
    transition: opacity 1s ease-in-out;
}

.fadeout {
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

#robotContainer {
    position: absolute;
    height: 90%;
    width: 100%;
    top: 2%;
    transition: transform 1.5s ease;
    /* visibility: visible; */
}
/* Find book */
#bookFinded {
    background-color: rgb(120, 120, 120, 0.2);
    position: absolute;
    height: 70%;
    width: 60%;
    /* margin-top: 10px; */
    opacity:1;
    top: 10%;
    left: 1%;
    visibility: hidden;
    /* transition: transform 1.5s ease; */
}

#bookContainer {
    position: absolute;
    height: 90%;
    width: 100%;
    margin-bottom: 0px;
    /* left: 9%; */
    transition: transform 1.5s ease;
}

#bookTable {
    background-color: rgba(172, 225, 243, 0.5);
    position: relative;
    height: 100%;
    width: 100%;
    top: 0px;
    transition: transform 0.5s ease-in;
    border: solid;
    border-color: rgb(255, 255, 255);
    border-radius: 15px;
    visibility: hidden;
}

#imageOfSelectedBook{
    position: absolute;
    /* margin: auto; */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: green;
    background-position: center;
    background-size: cover;
    width: 30%;
    height: 85%;
    border: solid;
    border-color: rgb(0, 0, 0);
    border-radius: 15px;
}
#imageOfSelectedBook img {
    width: 100%; /* Ensure the image fills the container width */
    height: 100%; /* Ensure the image fills the container height */
    object-fit: cover;
    border: hidden;
    /* border-color: red; */
    border-radius: 15px;
    transition: transform 0.5s ease;
    /* position:absolute;
    display: block;
    width: 100%;
    height: 97%;
    top: 3%;
    border: solid;
    border-color: white;
    border-radius: 15px;
    transition: transform 0.5s ease; */
    /* z-index: 122; */
}

@keyframes to_left_animation {
    100% {
        transform: translate(-150%, -50%);
    }
}

.move_book_animate {
    animation: to_left_animation 1s;
    animation-fill-mode: forwards;
}




/* Find book */

.book_covers {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.5s ease;
    cursor: pointer;
    z-index: 1;
}
.book_covers:hover {
    transform: translateY(-30px);
}

.book_covers img {
    width: 100%;
    height: 70%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
}

.robot {
    position: absolute;
    height: 80%;
    top: 40%;
    bottom: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
}


#smaller-button {
    width: 120px;
    height: 60px;
    background-color: rgb(213, 226, 29);
    position: fixed;
    top: 100px;
    left: 20px;
    /* z-index: 1; */
}
.bar-icon::after{
	content: '';
	position: absolute;
	width: 200px;
	height: 11px;
    bottom: -18px;
    left: 50px;
    border-radius: 10px;
	background-color: rgba(0, 0, 0, 0);
    /* visibility: hidden; */   
}
.bar-icon:hover::after{
    background-color: rgba(0, 0, 0, 0);
    color: #222726;
    box-shadow: 0 0 60px #2196f3, 0 0 60px #2196f3, 0 0 50px #2196f3;
}

.smaller-animation {
    transform: translate(-20%, 0%);
}

@keyframes animation {
    0%{
        bottom: -100%;
    }
    100% {
        bottom: 0px
    }
}

@keyframes reverse_animation {
    0%{
        bottom: 0px;
    }
    100% {
        bottom: -150%;
        visibility: hidden;
    }
}
.animate {
    animation: animation 2s;
    animation-fill-mode: forwards;
}
.reverse_animate{
    animation: reverse_animation 2s;
    animation-fill-mode: forwards;
}


@keyframes smallTools_animation {
    100% {
        width:  100%;
    }
}

@keyframes reverse_smallTools_animation {
    100% {
        width: 0px;
    }
}
.smallTools_animate {
    animation: smallTools_animation 1s;
    animation-fill-mode: forwards;
}
.reverse_smallTools_animate{
    animation: reverse_smallTools_animation 1s;
    animation-fill-mode: forwards;
}